
@model List<CloudPortalCore.DocumentModel>
@*CloudPortalCore.Paging.IndexModel*@
@{
    Layout = "_CustomLayout";
    ViewData["Title"] = "Document List";
}

<h2 class="text-center">Document Listing</h2>
<div class="row">

    <div class="col-md-12 form-inline">
        <div class="col-md-3">

            <div class="form-group">
                <label for="chkArchive">Show All Documents:</label>
                <input type="checkbox" class="form-control" id="chkArchive" name="chkArchive" />
            </div>
        </div>
        <div class="col-md-3">

            <div class="form-group">
                <label for="txtdate">Date:</label>
                <input type="date" class="form-control" id="txtdate" name="txtdate" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ddDateRange">Date Range:</label>
                <select id="ddDateRange" name="ddDateRange">
                    <option selected="selected" value="1d">Today</option>
                    <option value="7d">Last 7 Days</option>
                    <option value="30d">Last 30 Days</option>
                    <option value="3m">Last 3 Months</option>
                    <option value="1y">Last 12 months</option>
                    <option value="all">All</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ddlistSearch1">Select Shipment:</label>
                <select id="ddlistSearch1" name="ddlistSearch1">
                    <option selected="selected" value="shp">Shipment#</option>
                    <option value="blnm">BOL#</option>
                    <option value="rcvr">Consignee</option>
                    <option value="pro">PRO#</option>
                    <option value="trl">Trailer</option>
                    <option value="app">Appointment#</option>
                    <option value="dlv">Delivery#</option>
                    <option value="ldn">Load#</option>
                    <option value="cac">Customer Acc#</option>
                    <option value="po">PO#</option>
                    <option value="sb">Signed By</option>
                    <option value="sd">SmartBOL Delv#</option>
                    <option value="txt">Any field</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="txtship">Shipment:</label>
                <input type="text" class="form-control" id="txtship" name="txtship" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="chkriv">Show All Revisions:</label>
                <input type="checkbox" class="form-control" id="chkriv" name="chkriv" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="chkPO">Show PO:</label>
                <input type="checkbox" class="form-control" id="chkPO" name="chkPO" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ddlLoc">Locations:</label>
                @Html.DropDownList("ddlLoc", (IEnumerable<SelectListItem>)ViewBag.Locations,//new SelectList(ViewBag.Locations, "srclocation", "srclocation"),
             "Select Location", new { @class = "form-control" })

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for=""></label>
                <button type="button" id="search" class="btn btn-default btn-primary">Submit</button>
            </div>
        </div>
    </div>

</div>
<div id="searchResults">
    @*@await @Html.PartialAsync("_PartialDocument", Model);*@
</div>
<input type="hidden" id="hdnAction" value="PartialDocumentList" />
<input type="hidden" id="hdnController" value="Document" />
@section Scripts{
    <script>
         var url = '@Url.Action("PartialDocumentList", "Document")';
        $(document).ready(function () {


            $('#search').click(function () {

                $('#searchResults').load(url, { txtdate: $('#txtdate').val(), ddDateRange: $('#ddDateRange').val(), ddlistSearch1: $('#ddlistSearch1').val(), txtship: $('#txtship').val(), chkArchive: $('#chkArchive').is(":checked"), ddlLoc: $('#ddlLoc').val(), chkPO: $('#chkPO').is(":checked"), chkriv: $('#chkriv').is(":checked") });
            });


    });

        function openpage(pagenum) {

            $('#searchResults').load(url, {
                txtdate: $('#txtdate').val(), ddDateRange: $('#ddDateRange').val(), ddlistSearch1: $('#ddlistSearch1').val(), txtship: $('#txtship').val(), chkArchive: $('#chkArchive').is(":checked"), ddlLoc: $('#ddlLoc').val(), chkPO: $('#chkPO').is(":checked"), chkriv: $('#chkriv').is(":checked"), page: pagenum
            });
        }
    </script>
}
